  2@{
    ViewBag.Title = "Página principal";

}

<div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Buses
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.contarBus</div>

                    </div>
                    <div class="col-auto">
                        <i class="fa-solid fa-bus-simple fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Paradas
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.contarParadas</div>
                    </div>
                    <div class="col-auto">
                        <i class="fa-solid fa-street-view fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                            Buses con paradas
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.contarBusParadas</div>
                        @*<div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                                </div>
                                <div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-info" role="progressbar"
                                             style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                    <div class="col-auto">
                        <i class="fa-solid fa-road fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Sugerencias
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.contarSugerencias</div>

                    </div>
                    <div class="col-auto">
                        <i class="fa-solid fa-circle-info fa-2x text-gray-300"></i>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="jumbotron">
    <h1>TRM COMPANY</h1>
    <p class="lead"></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Misión</h2>
        <p>
            Promocionar a la población nicaragüense, una información clara y consista
            del las paradas y buces del transporte Urbano de la cuidad de managua.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Visión</h2>
        <p>Ser la primera empresa del territorio nacional, en brindar información sobre las paradas y buces del transporte urbano nicaragüense.</p>
    </div>
    <div class="col-md-4">
        <h2>Sobre Nosotros</h2>
        <p>
            La empresa nicaragüense TRM Company ubicada en la ciudad de managua,
            fue creada a mediado del año 2022, la cual creo la primera aplicación Móvil llamada
            “Proxi Bus Nic” a finales del mes de julio, esta brinda información sobre
            las diferentes paradas y autobuses del transporte urbano nicaragüense,
            con el único propósito de mejorar la información sobre el transporte de nicaragua,
            ya que existen muchos ciudadanos que desconocen la trayectoria de las rutas de managua,
            dicha aplicación fue programa por los ingeniero en sistema
            Tyler Rodríguez, Jorge Espinoza y Raul Leiva, actuales dueños de la Empresa “TRM Company”.
        </p>
    </div>
</div>